body{
    margin: 0;
    overflow: auto;
    background-image: url('./nature.jpg');
    background-size: cover;
    color: white;
}

#container{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 5em;
}

#current-data-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

#forecast-data-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#current-hour-data-container{

}

#hourly-weather-container{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    overflow: auto;
}

#hourly{
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

#forecast-day{
}

#forecast-weather-container{
  display: flex;
  gap: 10rem;
}

#hourly{
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #97a9b5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #707e78;
	border: 2px solid rgb(85, 85, 85);
}
